<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalcachingApplication.Plugins.LogImagesViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.LogImagesViewer.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPos" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="CacheImages" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Slideshow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SlideshowNextDelay" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="WindowPos2" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
        </GlobalcachingApplication.Plugins.LogImagesViewer.Properties.Settings>
    </userSettings>
</configuration>