<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GlobalcachingApplication.Plugins.Chat.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.Chat.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPos" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="BottomPanelHeight" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="RightPanelWidth" serializeAs="String">
                <value>250</value>
            </setting>
        </GlobalcachingApplication.Plugins.Chat.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
