<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GlobalcachingApplication.Plugins.UIMainWindow.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.UIMainWindow.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WindowPos" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="WindowMaximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolbarFile" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarFileLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolbarSearchLocation" serializeAs="String">
                <value>100, 0</value>
            </setting>
            <setting name="ToolbarScripts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarScriptsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolbarWindows" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarWindowsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolbarMaps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarMapsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolbarLiveAPI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ToolbarLiveAPIlocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolbarCustom" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolbarCustomLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolbarActions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolbarActionsLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ToolbarActionSequence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ToolbarActionSequenceLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SelectedTranslater" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="ShowOKAPIMenu" serializeAs="String">
                <value>True</value>
            </setting>
        </GlobalcachingApplication.Plugins.UIMainWindow.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
