<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalcachingApplication.Plugins.Munzee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.Munzee.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AccountName" serializeAs="String">
                <value />
            </setting>
            <setting name="GPXTagMunzee" serializeAs="String">
                <value>Traditional Cache</value>
            </setting>
            <setting name="GPXTagVirtual" serializeAs="String">
                <value>Traditional Cache</value>
            </setting>
            <setting name="GPXTagBusiness" serializeAs="String">
                <value>Traditional Cache</value>
            </setting>
            <setting name="GPXTagMystery" serializeAs="String">
                <value>Traditional Cache</value>
            </setting>
            <setting name="GPXTagNFC" serializeAs="String">
                <value>Traditional Cache</value>
            </setting>
            <setting name="GPXTagMaintenance" serializeAs="String">
                <value>Traditional Cache</value>
            </setting>
            <setting name="GPXTagPremium" serializeAs="String">
                <value>Traditional Cache</value>
            </setting>
        </GlobalcachingApplication.Plugins.Munzee.Properties.Settings>
    </userSettings>
</configuration>