<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalcachingApplication.Plugins.APILOGC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.APILOGC.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxImageSizeMB" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="MaxImageWidth" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="MaxImageHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="ImageQuality" serializeAs="String">
                <value>75</value>
            </setting>
        </GlobalcachingApplication.Plugins.APILOGC.Properties.Settings>
    </userSettings>
</configuration>