<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalcachingApplication.Plugins.OKAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.OKAPI.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ActiveSiteID" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoGermanyUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoGermanyUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoNetherlandsUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoNetherlandsUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoPolandUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoPolandUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoUSAUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoUSAUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoUKUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoUKUserID" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoGermanyToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoGermanyTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoNetherlandsToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoNetherlandsTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoPolandToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoPolandTokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoUSAToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoUSATokenSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoUKToken" serializeAs="String">
                <value />
            </setting>
            <setting name="SiteInfoUKTokenSecret" serializeAs="String">
                <value />
            </setting>
        </GlobalcachingApplication.Plugins.OKAPI.Properties.Settings>
    </userSettings>
</configuration>