<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GlobalcachingApplication.Plugins.ExportGarminPOI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="GlobalcachingApplication.Plugins.ExportGarminPOI.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.ExportGarminPOI.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="POIExportPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClearExportDirectory" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportGeocachePOIs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExportWaypointPOIs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NameLengthLimit" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="DescriptionLengthLimit" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="RunPOILoader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="POILoaderFilename" serializeAs="String">
                <value/>
            </setting>
            <setting name="PassDirectoryToPOILoader" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RunPOILoaderSilently" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="POINameType" serializeAs="String">
                <value>N</value>
            </setting>
        </GlobalcachingApplication.Plugins.ExportGarminPOI.Properties.Settings>
        <GlobalcachingApplication.Plugins.ExportGarminPOI.Settings1>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
        </GlobalcachingApplication.Plugins.ExportGarminPOI.Settings1>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
