<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalcachingApplication.Plugins.APIUPD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.APIUPD.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeselectGeocacheAfterUpdate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AdditionalDelayBetweenImageImport" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateLogsMaxLogCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AdditionalDelayBetweenLogImport" serializeAs="String">
                <value>0</value>
            </setting>
        </GlobalcachingApplication.Plugins.APIUPD.Properties.Settings>
    </userSettings>
</configuration>