vti_encoding:SR|utf8-nl
vti_author:SR|INSIGHT\\Udo.Woitek
vti_modifiedby:SR|INSIGHT\\Udo.Woitek
vti_timelastmodified:TR|23 Oct 2013 14:42:21 -0000
vti_timecreated:TR|23 Oct 2013 14:26:31 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|3col.html
vti_nexttolasttimemodified:TW|23 Oct 2013 14:39:07 -0000
vti_cacheddtm:TX|23 Oct 2013 14:42:21 -0000
vti_filesize:IR|1715
vti_cachedlinkinfo:VX|S|../img/221x1-c0c0c0.gif S|../img/221x1-c0c0c0.gif
vti_cachedsvcrellinks:VX|FSUS|img/221x1-c0c0c0.gif FSUS|img/221x1-c0c0c0.gif
