vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Oct 2013 14:07:23 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|ASTERIX\\Udo
vti_modifiedby:SR|INSIGHT\\Udo.Woitek
vti_timecreated:TR|22 Oct 2013 18:53:36 -0000
vti_backlinkinfo:VX|formulasolverdoc.dwt DE-de/index.html DE-de/window.html DE-de/variables.html DE-de/func_coord.html DE-de/func_text.html DE-de/input.html DE-de/func_number.html index.html DE-de/functions.html DE-de/doc_with_nav.dwt
vti_nexttolasttimemodified:TW|23 Oct 2013 14:07:13 -0000
vti_cacheddtm:TX|23 Oct 2013 14:07:23 -0000
vti_filesize:IR|3752
