<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GlobalcachingApplication.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Core.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InternalStorageClass" serializeAs="String">
                <value>GlobalcachingApplication.Plugins.GAPPDataStorage.InternalStorage</value>
            </setting>
            <setting name="LoadLogsInBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoSaveOnClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PluginDataPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CSScriptsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="EnablePluginDataPathAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
        </GlobalcachingApplication.Core.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
