<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GlobalcachingApplication.Plugins.ExportGarmin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.ExportGarmin.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxGeocacheNameLength" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="MinStartOfGeocacheName" serializeAs="String">
                <value>255</value>
            </setting>
            <setting name="AddFieldNotesToDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddChildWaypoints" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SeperateFilePerGeocache" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseNameAndNotCode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddWaypointsToDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseHintsForDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseDatabaseNameForFileName" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreateGGZFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPXVersionStr" serializeAs="String">
                <value/>
            </setting>
            <setting name="CorrectedNamePrefix" serializeAs="String">
                <value/>
            </setting>
            <setting name="AddImages" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AddExtraInfoToDescription" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaximumNumberOfLogs" serializeAs="String">
                <value>5</value>
            </setting>
        </GlobalcachingApplication.Plugins.ExportGarmin.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
