<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GlobalcachingApplication.Plugins.SimpleCacheList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GlobalcachingApplication.Plugins.SimpleCacheList.Properties.Settings>
            <setting name="UpgradeNeeded" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BkColorAvailable" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="BkColorArchived" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="BkColorNotAvailable" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="WindowPos" serializeAs="String">
                <value>0, 0, 0, 0</value>
            </setting>
            <setting name="BkColorFound" serializeAs="String">
                <value>192, 255, 192</value>
            </setting>
            <setting name="VisibleColumns" serializeAs="String">
                <value />
            </setting>
            <setting name="DeferredScrolling" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ColumnNameWidth" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="ColumnOwnerWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColumnCountryWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColumnStateWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColumnCityWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="BkColorOwned" serializeAs="String">
                <value>255, 255, 128</value>
            </setting>
            <setting name="ColumnOrder" serializeAs="String">
                <value />
            </setting>
            <setting name="SortOnColumnIndex" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="SortDirection" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ColumnPersonalNoteWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="EnableAutomaticSorting" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ColumnGeocacheTypeWidth" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ColumnHintsWidth" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="AutoTopPanel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BkColorExtraCoord" serializeAs="String">
                <value>White</value>
            </setting>
        </GlobalcachingApplication.Plugins.SimpleCacheList.Properties.Settings>
    </userSettings>
</configuration>