<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="duplexRelay">
          <compositeDuplex />
          <oneWay />
          <binaryMessageEncoding />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="PSS">
        <endpoint name="DuplexRelayEndpoint"
          contract="GAPPChatService.IChatService"
          binding="customBinding" bindingNamespace="http://application.globalcaching.eu/GAPPChat"
          bindingConfiguration="duplexRelay" />
      </service>
    </services>
  </system.serviceModel>
</configuration>